div.img
  {
  margin:2px;
  float:left;
  text-align:center;
  width:105px;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  margin:2px;
  overflow:hidden;
  }
.img .edit-btn
{
    width:10px;
    height:10px;
    position:absolute;
    background:white;
}
.img .desc .title
{
    font-weight:bolder;
    font-size:larger;
}
.img .edit-box input
{
    width:90%;
}

.comment-box, .name-box {
    margin: 5px 1px;
    float:left; 
    width:49%;
}
#preview img{
    width:100%;
}

