div.img
  {
  margin:2px;
  float:left;
  text-align:center;
  width:105px;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  margin:2px;
  overflow:hidden;
  }

.comment-box, .name-box {
    margin: 5px 1px;
    float:left; 
    width:49%;
}
#preview img{
    width:100%;
}

