div.img
  {
  margin:2px;
  border:1px solid #0000ff;
  float:left;
  text-align:center;
  width:120px;
  height:auto;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:2px;
  }